  *{
    margin:0;
    padding:0;
  }
    
  body{
    font-family:arial,sans-serif;
    font-size:100%;
    background:#666;
    color:#fff;
    
  }
  h5,p{
    font-size:75%;
    font-weight:normal;
  }
  ul,li{
    list-style:none;
    display: inline-block;
  }
  ul{
    overflow:hidden;
    padding:3em;
  }

  #menu {
    text-decoration:none;
    color: #000;
    background:#ffc;
    display:block;
    height:3em;
    width:5em;
    padding:1em;
    margin:1em;
    float:left;
    /*box shadow and transform support for various browsers*/
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: transform .15s linear;
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }

  #stickydisplay{
    text-decoration:none;
    color:#000;
    background:#ffc;
    margin:1em;
    float:left;
    display:block;
    overflow: auto;
    height: 10em;
    width:10em;
    padding:1em;
    /*box shadow and transform support for various browsers*/
    -moz-box-shadow:2.5px 2.5px 4px rgba(33,33,33,1);
    -webkit-box-shadow: 2.5px 2.5px 4px rgba(33,33,33,.7);
    box-shadow: 2.5px 2.5px 4px rgba(33,33,33,.7);
    transition: transform .15s linear;
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }

  img{
    width: 60%;
    height: 60%;
    min-width: 25px;
  }

  ul li h5{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
  }
 
  /*give the effect of random notes with random colors and tilts*/
  ul li:nth-child(even) #stickydisplay, ul li:nth-child(even) #menu {
    transform: rotate(4deg);
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) #stickydisplay, ul li:nth-child(3n) #menu {
    transform: rotate(-3deg);
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) #stickydisplay, ul li:nth-child(5n) #menu {
    transform: rotate(5deg);
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

  /*set the hover and focus for all the stickynotes and the menu items
  we specify each one since the stickydisplay and menu are specific ids and 
  therefore would otherwise override thebelow code unless we specify the ul li:nth-child....
  ideally this should probably be changed so that all this extra code is unneccessary but due to time constraints
  we will leave it like this as it does work.*/
  ul li:nth-child(5n) #stickydisplay:hover, ul li:nth-child(5n) #stickydisplay:focus,
  ul li:nth-child(5n) #menu:hover,  ul li:nth-child(5n)#menu:focus,
  ul li:nth-child(3n) #stickydisplay:hover,  ul li:nth-child(3n) #stickydisplay:focus,
  ul li:nth-child(3n) #menu:hover,    ul li:nth-child(3n)#menu:focus,
  ul li:nth-child(even) #stickydisplay:hover,  ul li:nth-child(even) #stickydisplay:focus,
  ul li:nth-child(even) #menu:hover,    ul li:nth-child(even) #menu:focus,
  #stickydisplay:hover, #stickydisplay:focus,
  #menu:hover, #menu:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }

  #footer{
    bottom: 0;
    position: absolute;
    height: 50px;
    background-color: #A9A9A9;
    width: 100%;
    padding-top: 8px;
  }
  
  #body{
    padding-bottom: 68px;
    margin-left:3em;
    margin-right: 3em;
  }

  #header{
    margin-left:3em;
    margin-right: 3em;
  }

  #container{
    min-height: 100vh;
    position: relative;
  }

  .buttons{
    text-decoration: none;
    font-size: 75%;
    color: #000;
    background: antiquewhite;
    padding: 5px;
    /*margin-top: 10em;
    margin-bottom: 10em;*/
    -moz-box-shadow:2.5px 2.5px 4px rgba(33,33,33,1);
    -webkit-box-shadow: 2.5px 2.5px 4px rgba(33,33,33,.7);
    box-shadow: 2.5px 2.5px 4px rgba(33,33,33,.7);
  }

 
 

